<div id=sdnav class="sidenav">
	<div class="myDIV">
		<img src="/images/{{picname}}" alt="avatar" width="200px" height="200px">
	</div>
	<div class="hide">
  		<span>{{username}}</span><br>
		<span>{{first}} {{last}}</span><br>
		<span>{{idnum}}</span><br>
		<span>{{email}}</span>
	</div>
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<a href="/editprof/{{username}}" class="insidenav">Edit Profile</a>
	<a href="/login" class="insidenav"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
</div>
<div class="link">
	<a id="dlsu" href="https://my.dlsu.edu.ph/contactinfo.asp">
		<img src="/images/DLSU.png" alt="dlsu" width="40px" height="40px">
	</a>
</div>