<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 	<link rel="stylesheet" href="/css/index.css">
  	<link rel="stylesheet" href="/css/navbar.css">
  	<link rel="stylesheet" href="/css/petition.css">
 	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
 	<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
 	<script src="/js/petition.js" type="text/javascript"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 	<title>| {{petitionResult.coursecode}} </title>
</head>
<body>
	{{> sidenav username = curUserResult.username first = curUserResult.first last = curUserResult.last email = curUserResult.email idnum = curUserResult.idnum
              pass = curUserResult.pass picname = curUserResult.picname admin = curUserResult.admin}}
  	{{> topnav username = curUserResult.username}}
	<div class="page-content">
		<div class="container">
			<div class="row justify-content-around">
				<div class="col align-self-center">
					<div class="alert {{statusAlertColor petitionResult.statusicon}}" role="alert">
					  {{statusAlertText petitionResult.statusicon}}
					</div>
					<h1 class="display-2">{{petitionResult.coursecode}}</h1>
					<dl class="row">
						<dt class="col-sm-3">Days:</dt>
  						<dd class="col-sm-9"><span id="desc-days">{{petitionResult.day1}} {{petitionResult.day2}}</span>

  						{{#if (completeProgress petitionResult.progress)}}
	  						{{#if flag}}
							<button type="button" class="btn btn-success ms-4 btn-sm" id="edit-days">Edit</button>
							{{/if}}
						{{/if}}
  						</dd>

  						<div class="bg-light d-none" id="edit-days-form">

  							<!-- Hidden Elements for Fetching Data to petition.js -->
  							<p class="d-none" id="petition-id">{{petitionResult.petitionid}}</p>
  							<p class="d-none" id="curuser-username">{{curUserResult.username}}</p>
  							<p class="d-none" id="curuser-first">{{curUserResult.first}}</p>
  							<p class="d-none" id="curuser-last">{{curUserResult.last}}</p>
  							<p class="d-none" id="curuser-picname">{{curUserResult.picname}}</p>

                        	<dt class="col-sm-2">Edit Days:</dt>
                        	<dd class="col-sm-10 checkboxes">
		                        <div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="Monday" value="Monday">
									<label class="form-check-label" for="monday">M</label>
								</div>

								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="Tuesday" value="Tuesday">
									<label class="form-check-label" for="tuesday">T</label>
								</div>

								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="Wednesday" value="Wednesday">
									<label class="form-check-label" for="wednesday">W</label>
								</div>

								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="Thursday" value="Thursday">
									<label class="form-check-label" for="thursday">H</label>
								</div>

								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="Friday" value="Friday">
									<label class="form-check-label" for="friday">F</label>
								</div>

								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="Saturday" value="Saturday">
									<label class="form-check-label" for="saturday">S</label>
								</div>

							<button type="submit" class="btn btn-primary btn-sm" id="confirm-edit-days">Confirm</button>
							<button type="submit" class="btn btn-danger btn-sm" id="cancel-edit-days">Cancel</button>

							</dd>
						</div>

  						<dt class="col-sm-3">Time Slot:</dt>
						<dd class="col-sm-9"><span id="desc-time">{{petitionResult.starttime}}-{{petitionResult.endtime}}</span>

							{{#if (completeProgress petitionResult.progress)}}
								{{#if flag}}
								<button type="button" class="btn btn-primary ms-4 btn-sm" id="edit-time">Edit</button>
								{{/if}}
							{{/if}}
						</dd>

						 <div class="bg-light d-none" id="edit-time-form">
	                        <dt class="col-sm-1">Edit Time Slot:</dt>
	                     	  <dd class="col-sm-11">
	                          	<label for="start-time">From: </label>
								<input class="ms-3" type="time" id="edit-start-time">

								<label for="end-time">To: </label>
								<input class="ms-3" type="time" id="edit-end-time">

								 <button type="submit" class="btn btn-primary btn-sm ms-3" id="confirm-edit-time">Confirm</button>
								 <button type="submit" class="btn btn-danger btn-sm" id="cancel-edit-time">Cancel</button>
	                          </dd>
                        </div>

						<dt class="col-sm-3">Status:</dt>
						<dd class="col-sm-9">{{statusString petitionResult.statusicon}}</dd>
					</dl>
					<p>Signatures</p>
					<div class="progress" >
					  {{#with petitionResult}}

					  <div id="petition-progress" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="{{signed}}" aria-valuemin="1" aria-valuemax="100" style="width: {{progress}}%">{{signed}} of {{numstudents}}</div>

					  {{/with}}
					</div>

					{{#if (completeProgress petitionResult.progress)}}
						{{#if flag}}
							<button type="submit" class="btn btn-danger btn-block my-3" id="delete-petition">Delete This Petition</button>
						{{else}}
							<button type="button" class="btn btn-block my-3 {{ifSignedButtonType hasSigned}}" id="petition-button">{{ifSignedButtonText hasSigned}}</button>
						{{/if}}

					{{/if}}


					<h3 class="mt-3">Signees</h3>
					<div class="row col-12 signees">
						<table class="table table-sm overflow-auto" id="signee-list">
						  <thead>
						    <tr class="table-success">
						      <th scope="col">#</th>
						      <th scope="col">Full Name</th>
						      <th scope="col">Email Address</th>
						      <th scope="col">ID</th>
						    </tr>
						  </thead>
						  <tbody>
						  	{{#each signeeResult}}
						  		<tr>
									<th scope="row">{{counter @index}}</th>
									<td>{{first}} {{last}}</td>
									<td>{{email}}</td>
									<td>{{idnum}}</td>
								</tr>
						  	{{/each}}
						  </tbody>
						</table>
					</div>

				</div>
				<div class="col d-flex justify-content-center">
					<div class="card w-75">
					  <img class="card-img-top img-fluid" src="/images/{{userResult.picname}}" alt="Profile Picture">
					  <div class="card-body">
					    <h3 class="card-title">{{userResult.first}} {{userResult.last}}</h3>
					    <dl class="row">
							<dt class="col-sm-4">ID Number:</dt>
	  						<dd class="col-sm-8">{{userResult.idnum}}</dd>

	  						<dt class="col-sm-4">Email:</dt>
							<dd class="col-sm-8">{{userResult.email}}</dd>
						</dl>

					  </div>
					</div>
				</div>
			</div>
			<hr>
		</div>
	</div>
		<div class="container mt-5 mb-5">
		    <div class="row height d-flex justify-content-center align-items-center">
		        <div class="col-md-7">
		            <div class="card">
		                <div class="p-3">
		                    <h1>Comments</h1>
		                </div>
		                <div class="mt-3 d-flex flex-row align-items-center p-3 form-color"> <img src="/images/avatar.png" width="50" class="rounded-circle mr-2"> <input type="text" class="form-control" placeholder="Enter your comment..." id="comment-content"> 
			                <div class="search-container">
								<button class="btn btn-success btn-lg" type="submit" id="submit-comment">Comment</button>
							</div>
						</div>
		                
		                <div class="mt-2" id="comment-section">
		                	{{#each comments}}
			                	<div class="d-flex flex-row p-3"> 
			                		<p class="d-none comment-username">{{username}}</p>
									<img src="/images/{{picname}}" width="40" height="40" class="rounded-circle me-3">
								    <div class="w-100">
								        <div class="d-flex justify-content-between align-items-center">
								            <div class="d-flex flex-row align-items-center"> <span class="me-2 comment-name fs-6">{{first}} {{last}}</span>  </div> <small class="comment-date">{{date}}</small>
								        </div>
								        <p class="text-justify mb-0 comment-text">{{commentcontent}}</p>
								        <div class="d-flex flex-row user-feed mt-2"> 
								        	<span class="ms-3 reply-button"><i class="fa fa-comments-o me-2"></i>Reply</span> 
								        	<span class="ms-3 delete-button {{ifOwnComment username ../curUserResult.username}}"><i class="fa fa-trash-o me-2"></i>Delete</span> 
								        </div>
								    </div>
								</div>
							{{/each}}

		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	<div class="link">
		<a id="dlsu" href="https://my.dlsu.edu.ph/contactinfo.asp">
			<img src="images/DLSU.png" alt="dlsu" width="40px" height="40px">
		</a>
	</div>
	<script>
		function openNav() {
		  document.getElementById("sdnav").style.width = "200px";
		}

		function closeNav() {
		  document.getElementById("sdnav").style.width = "0px";
		}
	</script>
</body>
</html> 
